<html>
    <head>
        <link rel="stylesheet" href="/assets/styles.css" />
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>

        <div id="app"></div>

        <script src="/assets/reactApp.bundle.js"></script>
    </body>
</html>