html {
  font-family: Arial;
}

body {
  background: linear-gradient(to top, #333, #fff);
}

h1 {
  padding: 15px;
  border-bottom: 1px solid #333;
}

.pic {
  height: 200px;
  width: 350px;
  background: url('../images/koh-samui.jpg') no-repeat;
}